{% extends "Blog/base.html" %}
{% block title%}index{%endblock%}

{% block head_search%}
	<div class='row justify-content-md-center'>
		<div class='col-md-3 offset-md-1 '>
			<form action="#" method="post">
				{% csrf_token %}	
					<input type="search" class="form-control form-control-lg" name="search" id="search" value="" />
								
						<input type='submit' class='btn' value=''/>
										
			</form>
		</div>
	</div>
	
{% endblock %}
			
{% block content %}
	<div class='row'>
		<ul class="list-group">
			<li class="list-group-item d-flex justify-content-between align-items-center">
				<a href="#">文章类型</a>
			</li>
			<!--注意 应该可以用超链接实现-->
			{% for var in tp_list%}
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<form action="{%url 'type_search' type=var.type %}" method="get">
						<!--btn-outline-primary  btn-link -->
						<input type="submit" class="btn btn-link" value={{var.type}} />
						<span class="badge badge-primary badge-pill">{{var.number}}</span>
					</form>
				</li>
			{% endfor %}
		</ul>
	<div class='col-7 offset-md-2'>
					
		<div class="list-group">
					  
			{% for Article in ArticleList %}
				<a href="{% url 'show_Article' Article.type Article.title %}" class="list-group-item list-group-item-action ">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">{{Article.title}}</h5>
						<small>{{Article.date}}</small>
					</div>
					<!--<p class="mb-1">{{Article.content|safe}}</p>-->
					<small>{{Article.author}}</small>
				</a>
			{% endfor %}
					  
		</div>
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-md-center">
			<li class="page-item"><a class="page-link" href="#">Previous</a></li>
					    
			{% for index in page_number%}
				<li class="page-item"><a class="page-link" href="#">{{index}}</a></li>
			{% endfor %}
			<li class="page-item"><a class="page-link" href="#">Next</a></li>
		</ul>
	</nav>
					
	</div>
	</div>
{% endblock%}
			

			

